<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script defer="defer" src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Nutritionist online</title>
</head>

<body onload="googleLogin()">
<div id="header">
    <div id="title">Nutritionist online</div>
    <div id="navigation"></div>
</div>
<div id="content">

</div>
</body>
</html>
