<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div style="text-align: center;  height: 100%">
    <div style="width: 100%; height: 10vh; background-color: lavender"><h2>Some shop</h2></div>
    <div style="width: 100%; height: 5vh; text-align: right; font-size: 1.5em">
         <span style="margin-right: 5%;">
            <a th:href="@{/}" style="text-decoration: none">log out</a>
        </span>
    </div>
    <div style="float: left; background-color: cadetblue; width: 30%;">
        <table style="border-spacing: 1em">
            <tr>
                <td><a th:href="@{/mainAdmin/{userId}(userId=${userId})}">Products</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/categories/{userId}(userId=${userId})}">Categories</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/orders/{userId}(userId=${userId})}">Orders</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/users/{userId}(userId=${userId})}">Users</a></td>
            </tr>
        </table>
    </div>
    <div style="float: right; width: 70%">
        <table style="border-spacing: 1em">
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            <tr th:each="category: ${categories}">
                <td th:text="${category.name}"></td>
                <td>
                    <form th:action="@{/categories/editCategory/{id}/{userId}(userId=${userId}, id=${category.id})}"
                          method="get">
                        <input type="submit" value="✏️">
                    </form>
                    <form style="margin-top: 0.5em"
                          th:action="@{/categories/deleteCategory/{id}/{userId}(userId=${userId}, id=${category.id})}"
                          method="post" onsubmit="return check()">
                        <input type="submit" value="❌">
                    </form>
                </td>
            </tr>
        </table>
        <hr>
        <form th:action="@{/categories/newCategory/{userId}(userId=${userId})}" method="get">
            <input type="submit" value="add category">
        </form>
    </div>
</div>
<script>
    function check() {
        return confirm("If you delete category, all products of it will be deleted.\nAre you sure you want delete category?");
    }
</script>
</body>
</html>
