<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div style="text-align: center;  height: 100%">
    <div style="width: 100%; height: 10vh; background-color: lavender"><h2>Some shop</h2></div>
    <div style="width: 100%; height: 5vh; text-align: right; font-size: 1.5em">
        <span><a th:href="@{/}" style="text-decoration: none">log out</a></span>
        <span style="margin-right: 5%; margin-left: 2%">
            <a style="text-decoration: none" th:href="@{/bucket/{userId}(userId=${userId})}">🛒</a>
        </span>
    </div>
    <div style="float: left; background-color: cadetblue; width: 30%;">
        <table style="border-spacing: 1em">
            <tr>
                <th>Categories</th>
            </tr>
            <tr>
                <td><a th:href="@{/mainUser/{userId}(userId=${userId})}">All</a></td>
            </tr>
            <tr th:each="category: ${categories}">
                <td><a th:text="${category.name}"
                       th:href="@{/mainUser/{userId}/{id}(id=${category.id}, userId=${userId})}"></a></td>
            </tr>
        </table>
    </div>
    <div style="float: right; width: 70%">
        <h3>Order details:</h3>
        <textarea style="width: 40%; height: 15vh" readonly id="text" th:text="${checkContent}"></textarea>
        <br>
        <a id="save">Save to file</a>
    </div>
</div>
<script>
    function saveToFileCreate() {
        let text = document.getElementById('text').value;
        let fileName = 'OrderCheck.txt';
        let file = new Blob([text], {type: "text/plain;charset=utf-8"});
        let a = document.getElementById('save');
        a.href = URL.createObjectURL(file);
        a.download = fileName;
    }

    saveToFileCreate();
</script>
</body>
</html>
