<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer="defer" src="js/common.js"></script>
    <title>Store</title>
</head>

<body>
<div style="color: gray; font-style: italic">
    <p>Admin: admin@gmail.com, Qwerty123</p>
    <p>Customer: user@gmail.com, Qwerty123</p>
</div>
<div>
    <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
</div>
<form name="f" th:action="@{/login}" method="post">
    <fieldset>
        <legend>Please Login</legend>
        <table style="border-spacing: 10px">
            <tr>
                <td colspan="2">
                    <div th:if="${param.error}" style="color: red">
                        Invalid username or password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="username">Email:</label></td>
                <td><input type="text" id="username" name="username" placeholder="Put your email"></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" placeholder="Put your password"></td>
            </tr>
            <tr>
                <td><label for="remember">Remember me</label></td>
                <td><input type="checkbox" id="remember" name="remember-me" value="true"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Sign in</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<br>
<button onclick="window.location.replace('/register')">Register</button>
</body>
</html>
