<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<head>
    <meta charset="UTF-8">
    <script defer="defer" src="mainUser.js" sec:authorize="hasAuthority('USER')"></script>
    <script defer="defer" src="js/common.js"></script>
    <script defer="defer" src="js/mainUserAnonymous.js" sec:authorize="isAnonymous()"></script>
    <title>Store</title>
</head>

<body onload="loadAll()">
<div style="text-align: center;  height: 100%;">

    <div style="width: 100%; height: 10vh; background-color: lavender"><h2>Some shop</h2></div>
    <div style="width: 100%; height: 10vh; text-align: right; font-size: 1.5em">
        <form sec:authorize="hasAuthority('USER')" th:action="@{/logout}" method="POST">
            <button type="submit">Logout</button>
        </form>
        <form sec:authorize="isAnonymous()" th:action="@{/login}" method="POST">
            <button type="submit">Login</button>
        </form>
        <span sec:authorize="isAnonymous()" style="margin-right: 5%; margin-left: 2%">
            <a style="cursor: pointer" onclick="bucketProducts()">🛒</a>
        </span>
        <span sec:authorize="hasAuthority('USER')" style="margin-right: 5%; margin-left: 2%">
            <a style="cursor: pointer" onclick="bucketProducts()">🛒</a>
        </span>
        <span sec:authorize="hasAuthority('USER')" style="margin-right: 5%; margin-left: 2%">
            <a style="cursor: pointer" onclick="personalArea()">👤</a>
        </span>
    </div>

    <div style="position: absolute; width: 100%; min-height: 85vh">

        <div style="float: left; background-color: cadetblue; width: 25%; position: absolute; height: 100%">
            <table style="border-spacing: 1em; width: 100%" id="categories">
                <tr>
                    <th>Categories</th>
                </tr>
                <tr>
                    <td><a style="cursor: pointer" onclick="allProducts()">All</a></td>
                </tr>
            </table>
        </div>

        <div style="float: right; width: 75%" id="main">
            <table id="products">
            </table>
            <div id="pages"></div>
        </div>

    </div>
</div>
</body>
</html>
