<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div style="text-align: center;  height: 100%">
    <div style="width: 100%; height: 10vh; background-color: lavender"><h2>Some shop</h2></div>
    <div style="width: 100%; height: 5vh; text-align: right; font-size: 1.5em">
         <span style="margin-right: 5%;">
            <a th:href="@{/}" style="text-decoration: none">log out</a>
        </span>
    </div>
    <div style="float: left; background-color: cadetblue; width: 30%;">
        <table style="border-spacing: 1em">
            <tr>
                <td><a th:href="@{/mainAdmin/{userId}(userId=${userId})}">Products</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/categories/{userId}(userId=${userId})}">Categories</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/orders/{userId}(userId=${userId})}">Orders</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/users/{userId}(userId=${userId})}">Users</a></td>
            </tr>
        </table>
    </div>
    <div style="float: right; width: 70%">
        <table style="border-spacing: 1em; width: 600px">
            <tr>
                <th style="width: 25%">Date</th>
                <th style="width: 25%">Total price</th>
                <th style="width: 25%">Status</th>
                <th style="width: 25%">Actions</th>
            </tr>
            <tr th:each="order: ${orders}">
                <td colspan="4">
                    <table style="width: 600px; border-spacing: 0">
                        <tr>
                            <td style="width: 25%" th:text="${order.getDateTimeString()}"></td>
                            <td style="width: 25%" th:text="${order.totalPrice}"></td>
                            <td style="width: 25%" th:text="${order.status}"></td>
                            <td style="width: 25%">
                                <form th:action="@{/orders/editOrder/{id}/{userId}(userId=${userId}, id=${order.id})}"
                                      method="get">
                                    <input type="submit" value="✏️">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" th:unless="${orderId==order.id}">
                                <button>
                                    <a th:href="@{/orders/details/{id}/{userId}(userId=${userId}, id=${order.id})}">View
                                        details</a>
                                </button>
                            </td>
                            <td colspan="4" th:if="${orderId==order.id}">
                                <button>
                                    <a th:href="@{/orders/{userId}(userId=${userId})}">Collapse</a>
                                </button>
                            </td>
                        </tr>
                        <tr th:if="${products.size()!=0 && orderId==order.id}" th:each="product: ${products}">
                            <td><img th:src="${product.imagePath}" style="width: 30px"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.price}"></td>
                            <td></td>
                        </tr>
                        <tr th:if="${orderId==order.id}">
                            <td>Customer:</td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</div>
</body>
</html>
