<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<form th:action="@{/register}" th:method="post" th:object="${user}" onsubmit="return check()">
    <table>
        <tr>
            <td></td>
            <td><span id="error_name"></span></td>
        </tr>
        <tr>
            <td><label>First name:</label></td>
            <td><input type="text" th:field="*{firstName}" onkeyup="resetErrorName()" id="name"
                       placeholder="Put your name"></td>
        </tr>
        <tr>
            <td></td>
            <td><span id="error_lastName"></span></td>
        </tr>
        <tr>
            <td><label>Last name:</label></td>
            <td><input type="text" th:field="*{lastName}" onkeyup="resetErrorLastName()" id="lastName"
                       placeholder="Put your last name"></td>
        </tr>
        <tr>
            <td></td>
            <td><span id="error_email"></span></td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" th:field="*{email}" onkeyup="resetErrorEmail()" id="email"
                       placeholder="Put your email"></td>
        </tr>
        <tr>
            <td></td>
            <td><span id="error_pass"></span></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" th:field="*{password}" onkeyup="resetErrorPass()" id="password"
                       placeholder="Put your password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="OK"></td>
        </tr>
    </table>
</form>
<script>
    function check() {
        let ok = true;
        let regExp = /[a-zA-Z0-9-_.]{3,}@[a-z]{3,}\.[a-z]{3,}/;
        if (!regExp.test(document.getElementById("email").value)) {
            ok = false;
            let email = document.getElementById("error_email");
            email.innerHTML = "Please enter valid email";
            email.style.color = "red";
        }
        regExp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{6,}$/;
        if (!regExp.test(document.getElementById("password").value)) {
            ok = false;
            let pass = document.getElementById("error_pass");
            pass.innerHTML = "Please enter valid password";
            pass.style.color = "red";
        }
        regExp = /\b([A-Z][a-z]+)/;
        if (!regExp.test(document.getElementById("name").value)) {
            ok = false;
            let name = document.getElementById("error_name");
            name.innerHTML = "Please enter valid name";
            name.style.color = "red";
        }
        if (!regExp.test(document.getElementById("lastName").value)) {
            ok = false;
            let lName = document.getElementById("error_lastName");
            lName.innerHTML = "Please enter valid last name";
            lName.style.color = "red";
        }

        return ok;
    }

    function resetErrorEmail() {
        document.getElementById("error_email").innerHTML = "";
    }

    function resetErrorPass() {
        document.getElementById("error_pass").innerHTML = "";
    }

    function resetErrorName() {
        document.getElementById("error_name").innerHTML = "";
    }

    function resetErrorLastName() {
        document.getElementById("error_lastName").innerHTML = "";
    }
</script>
</body>
</html>
