<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script defer="defer" src="../js/help.js"></script>
    <script defer="defer" src="../js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Nutritionist online</title>
</head>

<body onload="loadMessages()">
<div id="header">
    <div id="title">Nutritionist online</div>
    <div id="navigation">
        <div class="navigation_element" sec:authorize="hasAnyAuthority('USER', 'ADMIN', 'SUPER_ADMIN')"
             th:action="@{/logout}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Logout</p>
        </div>
        <div class="navigation_element" sec:authorize="isAnonymous()" th:action="@{/login}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Login</p>
        </div>
        <div class="navigation_element" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')"
             th:action="@{/admin/products}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Admin panel</p>
        </div>
        <div class="right_navigation_element" sec:authorize="hasAnyAuthority('USER', 'ADMIN', 'SUPER_ADMIN')"
             th:action="@{/personal}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>👤</p>
        </div>
    </div>
</div>
<div id="leftPanel">
    <div class="left_element" style="background: none;"><span id="arrow">🢂</span></div>
    <div id="products" class="left_element"><span class="icon">🍎</span><span class="name">Products</span></div>
    <div id="dishes" class="left_element"><span class="icon">🥗</span><span class="name">Dishes</span></div>
    <div id="diet" class="left_element"><span class="icon">🧮</span><span class="name">Own diet</span></div>
    <div id="params" class="left_element"><span class="icon">📐️</span><span class="name">Parameters</span></div>
    <div id="allergic" class="left_element"><span class="icon">🧬</span><span class="name">Allergic</span></div>
    <div id="help" class="left_element"><span class="icon">❓</span><span class="name">Help</span></div>
</div>
<div id="content">
    <p id="headline">Help of a nutritionist</p>
    <hr>
    <div id="container">
        <div id="chat_container">
        </div>
        <br>
        <input type="text" id="newMessage">
        <button id="send">Send ▶</button>
    </div>
</div>
</body>
</html>
