<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">

<head>
    <meta charset="UTF-8">
    <script defer="defer" src="../js/parameters.js"></script>
    <script defer="defer" src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Nutritionist online</title>
</head>

<body onload="loadParameters()">
<div id="header">
    <div id="title">Nutritionist online</div>
    <div id="navigation">
        <div class="navigation_element" sec:authorize="hasAnyAuthority('USER', 'ADMIN', 'SUPER_ADMIN')"
             th:action="@{/logout}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Logout</p>
        </div>
        <div class="navigation_element" sec:authorize="isAnonymous()" th:action="@{/login}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Login</p>
        </div>
        <div class="navigation_element" sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')"
             th:action="@{/admin/products}"
             onclick="window.location.href = this.getAttribute('action');">
            <p>Admin panel</p>
        </div>
    </div>
</div>
<div id="leftPanel">
    <div class="left_element" style="background: none;"><span id="arrow">🢂</span></div>
    <div id="products" class="left_element"><span class="icon">🍎</span><span class="name">Products</span></div>
    <div id="dishes" class="left_element"><span class="icon">🥗</span><span class="name">Dishes</span></div>
    <div id="diet" class="left_element"><span class="icon">🧮</span><span class="name">Own diet</span></div>
    <div id="params" class="left_element"><span class="icon">📐️</span><span class="name">Parameters</span></div>
    <div id="allergic" class="left_element"><span class="icon">🧬</span><span class="name">Allergic</span></div>
</div>
<div id="content">
    <p id="headline">Own parameters</p>
    <hr>
    <div id="container">
        <div class="container_element">
            <table id="paramsTable">
                <tr>
                    <td class="label"></td>
                    <td class="input"><span class="error" id="error_age"></span></td>
                </tr>
                <tr>
                    <td class="label"><label>Age:</label></td>
                    <td class="input"><input type="number" placeholder="Put age" id="age"
                                             onkeyup="resetErrorById('error_age')"></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="input"><span class="error" id="error_weight"></span></td>
                </tr>
                <tr>
                    <td class="label"><label>Weight:</label></td>
                    <td class="input"><input type="number" placeholder="Put weight" id="weight"
                                             onkeyup="resetErrorById('error_weight')"></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="input"><span class="error" id="error_height"></span></td>
                </tr>
                <tr>
                    <td class="label"><label>Height:</label></td>
                    <td class="input"><input type="number" placeholder="Put weight" id="height"
                                             onkeyup="resetErrorById('error_height')"></td>
                </tr>
                <tr>
                    <td class="label"><label>Gender:</label></td>
                    <td class="input"><select id="gender">
                        <option value="MALE" selected>Male</option>
                        <option value="FEMALE">Female</option>
                    </select></td>
                </tr>
                <tr>
                    <td class="label"><label>Activity level:</label></td>
                    <td class="input"><select id="activity">
                        <option value="ZERO" selected>Zero</option>
                        <option value="LOW">Low</option>
                        <option value="MEDIUM">Medium</option>
                        <option value="HIGH">High</option>
                    </select></td>
                </tr>
                <tr>
                    <td class="label"><label>Body type:</label></td>
                    <td class="input"><select id="body">
                        <option value="ASTHENIC" selected>Asthenic</option>
                        <option value="NORMOSTHENIC">Normosthenic</option>
                        <option value="HYPERSTHENIC">Hypersthenic</option>
                    </select></td>
                </tr>
                <tr>
                    <td class="label"><label>Diet aim:</label></td>
                    <td class="input"><select id="aim">
                        <option value="LOSE" selected>Lose weight</option>
                        <option value="NONE">Not change</option>
                        <option value="GAIN">Gain weight</option>
                    </select></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="submit" onclick="saveParameters()">Save</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
